{% extends "base.html" %}

{% block title %}
Thermos -- Bookmarks for user {{ user.username }}
{% endblock %}

{% block content %}
<article>
    <header>
        <h1> Bookmarks for {{ user.username }}</h1>

        {% if user.bookmarks.count() > 0 %}
            {% with bookmarks=user.bookmarks %}
                {% include "bookmark_list.html" %}
            {% endwith %}
        {% else %}
            This user has not added any bookmarks yet.
        {% endif %}

    </header>
</article>
{% endblock %}}

